<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="All_Num" value="1">
    </add>
    <add key="Present_Num" value="1">
    </add>
    <add key="IPAddre_1" value="192.168.1.1">
    </add>
    <add key="IPAddre_2" value="192.168.1.2">
    </add>
    <add key="IPAddre_3" value="192.168.1.3">
    </add>
    <add key="IPAddre_4" value="192.168.1.4">
    </add>
    <add key="IPAddre_5" value="192.168.1.5">
    </add>
    <add key="IPAddre_6" value="192.168.1.6">
    </add>
    <add key="IPAddre_7" value="192.168.1.7">
    </add>
    <add key="IPAddre_8" value="192.168.1.8">
    </add>
    <add key="IPAddre_9" value="192.168.1.9">
    </add>
    <add key="IPAddre_10" value="192.168.1.10">
    </add>
    <add key="IPAddre_11" value="192.168.1.11">
    </add>
    <add key="IPAddre_12" value="192.168.1.12">
    </add>
    <add key="IPAddre_13" value="192.168.1.13">
    </add>
    <add key="IPAddre_14" value="192.168.1.14">
    </add>
    <add key="IPAddre_15" value="192.168.1.15">
    </add>
    <add key="IPAddre_16" value="192.168.1.16">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>